  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input type="text" class="form-control" #serverNameInput> <!-- variable serverNameInput is local only to html template -->
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <input type="text" class="form-control" #serverContentInput> <!-- demos how we can access template variable in typescript code -->
      <br>
      <button
        class="btn btn-primary"
        (click)="addServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="addBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
  </div>