<div class="panel panel-default">
	<!-- <div class="panel-heading">{{ element.name }}</div> -->
	<div class="panel-heading" #heading>{{ name }}</div>
	<div class="panel-body">
		<label>Enter junk to see in console, ViewChild method</label>
		<input type="text" class="form-control" #viewChildText (keyup)="consoleLogText()">
		<label>Enter junk to see in console, Observable.valueChanges method, oooh so much cleaner</label>
		<input type="text" class="form-control" [formControl]="observableText">
		<!-- <input type="text" class="form-control" #heading> -->
<!-- 	  <p>
	    <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
	    <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
	  </p>
 -->	
 		<!-- will add in html found between <app-server-element> in place of <ng-content> -->
 		<ng-content></ng-content>
	</div>
</div>