<div class="container">
  <app-cockpit (onServerCreated)="addServer($event)" (onBpCreated)="addBlueprint($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
    	<button class="btn btn-secondary" (click)="changeFirst()">Change first Element</button>
    	<button class="btn btn-danger" (click)="destroyFirst()">Change first Element</button>
<!--  serverElement is from app.component level
      [anything] must come from calling component, i.e. app-server-element -->
      <app-server-element *ngFor="let serverElement of serverElements" 
      [srvElement]="serverElement"
      [name]="serverElement.name"
      >
   	  	<p #contentParagraph>ContentChild demo
          <strong *ngIf="serverElement.type === 'server'" style="color: red"> {{ test }}</strong>
  	    	<strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
  	    	<em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
  	    </p> 	
      </app-server-element>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="testMe()">tests lifecycles</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h3>@ContentChild()</h3>
      <p>Let's you access the html WITHIN the component tag,e.g. &lt;app-x>, added with &lt;ng-content>.
      </p>
      <p>
        Content queries are set before the ngAfterContentInit callback is called.
      </p>
      <app-content-child>tests lifecycles</app-content-child>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h3>@ViewChild()</h3>
      <p>Let's you access the html template associated with the component tag,i.e. whatever html temlate the &lt;app-x> component has.
      </p>
      <p>
        View queries are set before the ngAfterViewInit callback is called.
      </p>
      <app-view-child>tests lifecycles</app-view-child>
    </div>
  </div>  
</div>
